/******************************************************************************
The style rules in this sheet apply to the origin version of the site
******************************************************************************/

/* Our default values set as CSS variables */
:root {
    --color-bg: #f4eeec;
    --color-bg-alt: #e7ff7a;
    --color-text-main: #000000;
    --wrapper-height: 100vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: sans-serif;
    --color-header: #4aa800;
  }
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  body {
    font-family: var(--font-family);
    margin: auto;
    color: var(--color-text-main);
    font-size:large;
    padding:1rem;
    max-width:800px;
    text-align:center;
    background-color:var(--color-bg);
  }
  
  /* Very light scaling for our illustration */
  .title,
  h1 {
    color: var(--color-header);
    font-family: var(--font-family);
    font-size: 2.6rem;
    font-weight: 600;
    margin:1rem;
  }
  
  /* 🚨 Hide content with "edge" class name at the origin 🚨 */
  .edge {
    display: none;
  }
  
  /* ⚠️ Location indicator ⚠️ */
  location-indicator {
    font-weight:bold;
  }
  
  a:link,
  a:visited {
    text-decoration:none;
    color:var(--color-header);
  }
  a:hover {
    color:black;
    background-color:var(--color-bg-alt);
    text-decoration:underline;
  }
  p, ul {
    max-width:700px;
    margin:1rem auto;
  }
  .avatar {
      width: 10rem;
      height: 10rem;
      margin:auto;
      background-image: url("construction-site.svg");
      background-repeat:no-repeat;
      background-size:contain;
  }
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}
a.remix {
  background-color: var(--color-bg-alt);
  border: 2px solid var(--color-text-main);
  border-radius: 5px;
  padding:0.5rem;
  font-weight:bold;
  color: var(--color-text-main);
  text-decoration:none;
}
a.remix:hover {
  background: var(--color-text-main);
  color:var(--color-bg-alt);
}
